table {
	padding: 5px;
	border: 2px solid black;
}

td,th {
	padding: 5px;
	border: 1px dotted black;
}

.shipped { 
	font-size: 1.2em;
	font-weight: bold;
}

.selected {
	font-size: 1.2em;
}
.newItem {
	background-color: orange;
}

.sold {
	background-color: green;
}

.nosale {
	background-color: red;
	color: white;
}

.added {
	background-color: gray;
}

.highlighted {
	background-color: yellow;
}

#container {
	background:gray;
}

#container:before, #container:after {
	content: "";
	display: table;
}

#container:after {
	clear:both;
}
#filteredData {
	float: left;
	background: green;
	color: white;
}
#selectedData {
	float: right;
	background: blue;
	color: white;
}
