*, *:before *:after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

div {
	border: 1px solid black;
}

table {
	padding: 5px;
	border: 2px solid black;
}

a {
	text-decoration: none;
}

td,th {
	padding: 5px;
	border: 1px dotted black;
}

.button() {
	padding: 2px;
	border-radius: 5px;
}

.clickedButton {
	background: gray;
}

.invalid {
	border: 2px solid red;
}
.valid {
	border: 2px solid green;
}

#searchedFor {
/*
	left: 0;
	right: 0;*/
	display: table;
	text-align: center;
	margin: 0px auto;
	padding: 10px;

}

	#newSearch{
		.button;
		margin-top: 5px;
	}

	#newSearchDiv{
		display: inline-block;
		padding: 10px 10px;
	 	border:1px solid black;
	 	margin-top: 5px;
	}

#moreResultsButton {
	margin-top:4px;
	.button;
}

#next1000Button {
	display: inline-block;
	margin-top:2px;
	.button;
}

#loadAllButton {
	display:inline-block;
	margin-top:2px;
	.button;
}

#allLoadedButton {
	.button;
	border-color:green;
}

.shippedPrice { 
	font-size: 1.2em;
	font-weight: bold;
}

.nosale {
	background-color: red;
	color: white;
}

.highlighted {
	background-color: yellow;
}
.jump {
	background-color: rgb(97, 168, 237);
}

#container {
	background:white;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear:both;
	}
}
/////Divs inside container
	#filteredDataDiv {
		display: table;
		width: 10%;
		float: left;
		border: 1px green solid;
		border-radius: 4px;
	/*	background: green;
		color: white;
	*/	a {
			color: blue;

			&:hover {
				font-weight: bold;
			}
		}
	}

	#filterDiv {
		position: relative;
		border: 1px solid black;
		text-align: center;
		display: table;
		/*margin: 0 auto;*/
		float: left;
		left: 27.5%;
		width: 25%;
		/*right: 0;*/
	}
		#maxPriceFilter, #minPriceFilter {
			width: 75px;
		}

	
	#selectedData {
		right: 0px;
		position: fixed;
		width: 10%;
		background-color: white;
		background-color: rgba(255,255,255,.7);
		border: 1px blue solid;
		border-radius: 4px;
	/*	background: blue;
		color: white;*/
		a {
			color: red;

			&:hover {
				font-weight:bold;
			}
		}
	}
	
	.docked {
		top: 0px;
	}
#vizDiv {
	position: relative;
	width: 80%;
	margin: 0 auto;
	/*min-height: 200px;*/
	text-align: center;
	height: 40%;
}

	.axis{
		line, path {
			fill: none;
			stroke: black;
		}
		text {
			font-size: 11px;
		}
	}

	.hover{
	
		fill: rgb(0,255,0);
		fill-opacity: .7;
		stroke: black;
		stroke-width: 1px;
		&.avgPoint {
			fill: rgb(255,0,0);
		}
	}

#searchResultsTable {
	margin: 0 auto;
	width: 80%;
}

#minPriceFilter, #maxPriceFilter {
	padding: 5px;
}

#dateFilterDiv {
	position: relative;
	& label{
		display:inline-block;
		width: 15%;
		text-align: right;
	}

	& input {
		width: 40%;
	}
}

#priceFilterDiv {
	& label {
		display: block;
		text-align: right;
		width: 10%;
	}
}

.d3-tip {
	border-radius: 3px;
	background-color: rgba(0,255,0,.5);
	&.avg {
		background-color: rgba(255,0,0,.5);
	}
	& > .date {
		display:block;
		left:0;
		right:0;
	}
}