*, *:before *:after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

div {
	border: 1px solid black;
}

table {
	padding: 5px;
	border: 2px solid black;
}

a {
	text-decoration: none;
}

td,th {
	padding: 5px;
	border: 1px dotted black;
}

.button() {
	padding: 2px;
	border-radius: 5px;
	border:1px solid blue;	
}

.clickedButton {
	background: gray;
}

#searchedFor {
/*
	left: 0;
	right: 0;*/
	display: table;
	text-align: center;
	margin: 0px auto;
	padding: 10px;

}

	#newSearch{
	  .button;
	  border: 1px solid red;

	  &:hover {
		background: red;
		color: white;
	  }
	}

	#newSearchDiv{
		display: inline-block;
		padding: 10px 10px;
	 	border:1px solid black;
	}

#moreResultsButton {
	display: inline-block;
	margin-top:4px;
	.button;
	&:hover {
		background-color:#0022aa;
		color: white;
	}
	&:active {
		background-color:darken(#0022aa,10%);
	}
}

#next1000Button {
	display: inline-block;
	margin-top:4px;
	.button;
	&:hover {
		background-color:#0022aa;
		color: white;
	}
	&:active {
		background-color:darken(#0022aa,10%);
	}
}

#loadAllButton {
	display:inline-block;
	.button;
	&:hover {
		background-color: blue;
		color: white;
	}
}

#allLoadedButton {
	.button;
	border-color:green;
}

.shippedPrice { 
	font-size: 1.2em;
	font-weight: bold;
}

.nosale {
	background-color: red;
	color: white;
}

.highlighted {
	background-color: yellow;
}
.jump {
	background-color: rgb(97, 168, 237);
}

#container {
	background:white;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear:both;
	}
}
/////Divs inside container
	#filteredDataDiv {
		display: table;
		width: 10%;
		float: left;
		border: 1px green solid;
		border-radius: 4px;
	/*	background: green;
		color: white;
	*/	a {
			color: blue;

			&:hover {
				font-weight: bold;
			}
		}
	}

	#filterDiv {
		position: relative;
		border: 1px solid black;
		text-align: center;
		display: table;
		/*margin: 0 auto;*/
		float: left;
		left: 27.5%;
		width: 25%;
		/*right: 0;*/
	}
		#maxPriceFilter, #minPriceFilter {
			width: 75px;
		}


	#selectedData {
		right: 9px;
		position: fixed;
		width: 10%;
		background-color: white;
		background-color: rgba(255,255,255,.7);
		border: 1px blue solid;
		border-radius: 4px;
	/*	background: blue;
		color: white;*/
		a {
			color: red;

			&:hover {
				font-weight:bold;
			}
		}
	}

#vizDiv {
	position: relative;
	width: 80%;
	margin: 0 auto;
	/*min-height: 200px;*/
	height: 40%;
}

	.axis{
		line, path {
			fill: none;
			stroke: black;
		}
		text {
			font-size: 11px;
		}
	}

	.hover{

		fill: rgba(255,0,0,.6);
		stroke: black;
		stroke-width: 1px;
	}

#searchResultsTable {
	margin: 0 auto;
	width: 80%;
}